@font-face {
    font-family: plainl;
    src: url(./fonts/plain-light-webfont.woff);
}
@font-face {
    font-family: plainr;
    src: url(./fonts/plain-regular-webfont.woff);
}
@font-face {
    font-family: silkl;
    src: url(./fonts/silkserif-lightitalic-webfont.woff);
}
@font-face {
    font-family: silkr;
    src: url(./fonts/silkserif-regularitalic-webfont.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    font-size: clamp(12px,1.5vw,16px);
}
/* #0b0b0b */
#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 25vh 10vw;
    opacity: 100;
    transition: opacity cubic-bezier(0.19, 1, 0.22, 1) .9s;
}
#loader .line #lineprt1{
    display: flex;
    
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    margin-left: 2em;
    margin-right: 2em;
    /* background-color: rgba(14, 14, 179, 0.2); */
}
#loader .line #lineprt1 h5{
    font-size: 2.5em;
    font-family: silkr;
    min-width: 70px;
}
#loader .line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    /* background-color: #c02424; */
    height: fit-content;
}
#loader .line h1{
    opacity: 100;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-family: plainl;
    font-size: 4.5em;
    text-transform: uppercase;
    padding: 0em .2em;
}
#loader .line h1 span{
    
    animation-name: nowani;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-iteration-count: infinite;
}
@keyframes nowani {
    0%{
        font-family: plainl;
        opacity: 1;
    }
    45%{
        font-family: plainl;
        opacity: 0;
    }
    55%{
        color:  transparent;
        -webkit-text-stroke: .1px rgb(255, 255, 255);
        font-family: silkl;
        opacity: 0;
    }
    100%{
        color:  transparent;
        -webkit-text-stroke: .1px rgb(255, 255, 255);        
        font-family: silkl;
        opacity: 1;
    }
    
}

#main{
    position: relative;
    /* background-color: #111; */
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}